# Residential Tree Planting project data prep

## Loading and formatting data

In [758]:
import pandas as pd
import os
import numpy as np
import geopy

In [759]:
#Rename excel files
old_names = list(os.listdir('./data'))

for i in old_names:
    if '.xlsx' not in i:
        old_names.remove(i)

old_names

['fall_2023.xlsx',
 'fall_2024.xlsx',
 'fall_2025.xlsx',
 'spring_2023.xlsx',
 'spring_2024_1.xlsx',
 'spring_2024_2.xlsx',
 'spring_2025.xlsx']

In [760]:
new_names = []
for i in old_names:
    new_name = i.lower().replace(" ","_").strip()
    new_name = new_name.replace("casey_", "").replace("tree_","").replace("trees_","").replace("planting_","")
    new_names.append(new_name)

new_names

['fall_2023.xlsx',
 'fall_2024.xlsx',
 'fall_2025.xlsx',
 'spring_2023.xlsx',
 'spring_2024_1.xlsx',
 'spring_2024_2.xlsx',
 'spring_2025.xlsx']

In [761]:
# ALREADY CHANGED NAMES THEREFORE NOT NECESSARY
# new_names[1] = 'spring_2023.xlsx'
# new_names[2] = 'spring_2024_2.xlsx'
# new_names[4] = 'fall_2024.xlsx'
# new_names[6] = 'spring_2024_1.xlsx'

# new_names

In [762]:
# ALREADY CHANGED NAMES THEREFORE NOT NECESSARY
# for i in old_names:
#     os.rename(i, new_names[old_names.index(i)])

In [763]:
# Read files into df
dfs = {}
for i in new_names:
    dfs[i] = pd.read_excel(("./data/"+i), header=0)

C:\Users\pmedina\AppData\Local\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

In [764]:
dfs.keys()

dict_keys(['fall_2023.xlsx', 'fall_2024.xlsx', 'fall_2025.xlsx', 'spring_2023.xlsx', 'spring_2024_1.xlsx', 'spring_2024_2.xlsx', 'spring_2025.xlsx'])

## Formatting data

### Formatting functions

In [765]:
# Variable name formatting
def clean_column_names(df):
    df.columns = (df.columns
               .str.strip()
               .str.lower()
               .str.replace(" ", "_")
               .str.replace(";","")
               .str.replace("\\t","")
               .str.replace("[()â‚¬$]", "",

                            regex=True))
    return df

In [766]:
def update_species(df):
    for index, row in df.iterrows():
        if ',' in row['species_1']:
            species = df.loc[index, 'species_1'].split(',')
            species_1 = species[0]
            species_2 = species[1]
            df.loc[index, 'species_1'] = species_1
            df.loc[index, 'species_2'] = species_2
        elif '2' in row['species_1']:
            species = row['species_1'].strip().replace('2','').replace('()','')
            df.loc[index, 'species_1'] = species
            df.loc[index, 'species_2'] = species
        else:
            row['species_2'] = ''
    return df

In [767]:
def column_clean(df):
    del_words = ['application', 'name','email','casey','form','contact','area','inspection','date','phone']
    column_list = list(df.columns)
    columns_to_drop = []

    for column_name in column_list:
        if 'unnamed' in column_name:
            new_column_names = list(df.loc[0,])
            df.columns = new_column_names
            df.drop(index=df.index[0], axis=0, inplace=True)
            break
        
    for column_name in column_list:
        for word in del_words:
            if word in column_name:
                if column_name not in columns_to_drop:
                    columns_to_drop.append(column_name)

    df.drop(columns=columns_to_drop, axis = 1, inplace = True)

    for column_name in column_list:
        if "species" in column_name:
            df.rename(columns={column_name:'species_1'}, inplace = True)
            
    return df

In [768]:
def format_table(df, year):
    df = clean_column_names(df)
    column_clean(df)
    df = update_species(df)
    df['year'] = year
    return df

In [769]:
for i in dfs:
    clean_column_names(dfs[i])

In [770]:
spring_2023 = dfs['spring_2023.xlsx']
fall_2023 = dfs['fall_2023.xlsx']
spring_2024_2 = dfs['spring_2024_2.xlsx']
fall_2025 = dfs['fall_2025.xlsx']
fall_2024 = dfs['fall_2024.xlsx']
spring_2025 = dfs['spring_2025.xlsx']
spring_2024_1 = dfs['spring_2024_1.xlsx']

### Spring 2023

In [771]:
spring_2023.head(5)

,application_date_planting_on_resid_property,area,district_#,first_and_last_name:,email_address:,phone_number:,address:,preferred_contact,consultation_date,casey_trees_date_planted,city_inspection_date,species_planted,notes_casey_trees
0,2022-05-14 21:50:25,Daniels Pk E,1,Kirstin Showalter,kirstinsd@gmail.com,7346492987,5121 Kenesaw St,Email,2023-02-28,NaN,NaN,"A.Hornbeam, Wil Oak",match
1,2022-11-11 13:10:39,Daniels Pk W,1,Anne Tolbert,ktolbertmd@gmail.com,301-613-3496,4908 Hollywood Rd,Email,2023-03-01,NaN,NaN,(2) Willow Oaks,no map
2,2023-02-14 11:03:46,Oak Sps W,1,Frances Sutphen,healingfls@verizon.net,13013950486,4822 Erie Street,Phone,2023-03-01,NaN,NaN,S. Magnolia,match
3,2023-02-24 08:53:47,Hollywood E,1,Donald Hays,hays.donald@gmail.com,270-320-2950,5017 Laguna Road,NaN,2023-02-27,NaN,NaN,S. Magnolia,match
4,2022-05-09 19:33:25,Autoville,1,Alan Hew,alanhew@gmail.com,3014047519,9118 Autoville Dr.,Email,2023-02-28,NaN,NaN,Am. Witch Hazel,match

In [772]:
format_table(spring_2023, 2023)
spring_2023.head(5)

   district_#             address:        species_1     species_2  year
0           1      5121 Kenesaw St       A.Hornbeam       Wil Oak  2023
1           1    4908 Hollywood Rd      Willow Oaks   Willow Oaks  2023
2           1     4822 Erie Street      S. Magnolia           NaN  2023
3           1     5017 Laguna Road      S. Magnolia           NaN  2023
4           1  9118 Autoville Dr.   Am. Witch Hazel           NaN  2023

### Fall 2023

In [773]:
fall_2023.head(5)

,casey_tree_planting_on_private_property_fall_2023,unnamed:_1,unnamed:_2,unnamed:_3,unnamed:_4,unnamed:_5,unnamed:_6,unnamed:_7,unnamed:_8,unnamed:_9,unnamed:_10,unnamed:_11,unnamed:_12
0,Application Date; Planting on Residential Prop...,Area,District #,First and Last Name:,Email Address:,Phone Number,Address:,Preferred Contact,Consultation date,Casey Trees date planted,City inspection date,Species planted,Hold Harmless Form completed
1,2022-06-25 00:00:00,CP Estates,3,Andrew Stephens,andrewstephens11@gmail.com,202-550-5392,7512 Wellesley Dr,email,2023-06-08 00:00:00,2024-10-30 00:00:00,2023-11-17 00:00:00,American Linden,X
2,2022-07-01 00:00:00,CP Woods,4,Bruce Simpson,ilovjazz@gmail.com,301-633-7736,3711 Marlbrough Way,email,2023-07-05 00:00:00,2023-11-03 00:00:00,2023-11-09 00:00:00,Red Maple,X
3,2023-03-09 00:00:00,Berwyn,2,Emily Friend,emmfriend@gmail.com,301-356-5396,4803 Ruatan St,email,2023-06-09 00:00:00,2023-11-03 00:00:00,2023-11-09 00:00:00,Tulip Poplar,X
4,2023-03-26 00:00:00,Hollywood W,1,Malcolm Williams,malcolmtwilliams@gmail.com,240-839-8554,4806 Lackawanna St,email,2023-06-26 00:00:00,2023-11-03 00:00:00,2023-11-09 00:00:00,Southern Magnolia,X

In [774]:
# new_column_names = list(fall_2023.loc[0,])
# new_column_names = list(fall_2023.loc[0,])
# fall_2023.columns = new_column_names
format_table(fall_2023, 2023)
fall_2023.head(5)

KeyError: "['casey_tree_planting_on_private_property_fall_2023', 'unnamed:_1', 'unnamed:_2', 'unnamed:_3', 'unnamed:_4', 'unnamed:_5', 'unnamed:_6', 'unnamed:_7', 'unnamed:_8', 'unnamed:_9', 'unnamed:_10', 'unnamed:_11', 'unnamed:_12'] not found in axis"

### Spring 2024 - 1

In [ ]:
spring_2024_1.head(5)

In [ ]:
format_table(spring_2024_1, 2024)
spring_2024_1.head(5)

### Spring 2024 - 2

In [ ]:
spring_2024_2.head(5)

In [ ]:
format_table(spring_2024_2, 2024)
spring_2024_2.head(5)